
<div class="bg-dracblue" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        <i class="fa-solid fa-location-dot me-2"></i>Viajes</div>
    <div class="list-group list-group-flush my-3">
        {{#if adminRol}}
                {{!-- <a href="/usuarios" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                        class="fa-solid fa-user-group me-2"></i>Usuarios</a> --}}
                <a href="/sucursales" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                        class="fa-solid fa-building me-2"></i>Sucursales</a>
                <a href="/colaboradores" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                        class="fa-solid fa-users me-2"></i>Colaboradores</a>
                <a href="/transportistas" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                        class="fa-solid fa-van-shuttle me-2"></i>Transportistas</a>
                <a href="/asignaciones" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                class="fa-solid fa-building-user me-2"></i></i>Asignaciones</a>
        {{/if}}
        <a href="/viajes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
        class="fa-solid fa-map-pin me-2"></i>Viajes</a>
        <a href="/reportes" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-paperclip me-2"></i>Reportes</a>
    </div>
</div>